<body>
        <header>
            <nav class="navigation">
                <div class="navigation__item">Home</div>
                <div class="navigation__item">Products</div>
            </nav>
        </header>